* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

body::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
  }

body::-webkit-scrollbar-thumb {
    background-color: #ffffffad; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the scrollbar thumb */
    z-index: 9999;
}

body::-webkit-scrollbar-track {
    background-color: #013178;
    border-radius: 6px;
    /* display: none !important; */
}

.preheader{
    display: flex;
    justify-content: space-between;
    background-color: #013078;
    color: white;
    padding: 10px;
}

.header-contact{
    display: flex;
    justify-content: space-between;
}
.header-contact-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-contact-item p, .header-contact-item i {
    margin: 0 5px;
}

.header-social img{
    margin: 0 5px;
}

header {
    background-color: #013078;
    color: white;
    padding: 10px;
    z-index: 1000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
}

nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1{
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    font-size: 1.25rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline rgb(215, 99, 11) solid 3px;
}

.dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.hamburger{
    background: transparent;
    outline: none;
    border: none;
    color: white;
    display: none;
}

.menu-toggle {
    overflow: hidden;
    display: hidden;
    position: fixed;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #013078;
    z-index: 1000;
    padding: 20px;
  }

  @media screen and (min-width: 850px){
    .hamburger, .menu-toggle{
        display: none !important;
    }
}

  @media screen and (max-width: 850px) {
        .hamburger{
          display: block;
        }
        .menu-toggle{
            display: none;
        }
        header{
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        nav{
            width: 100%;
        }
        nav h1{
            font-size: 1.2rem;
        }
        
        .menu-toggle span{
            display: block;
            /* width: 30px; */
            /* height: 3px; */
            margin: 5px;
            border-bottom: 1px solid white;
            /* background-color: white; */
            transition: all 0.3s ease-in-out;
        }
        .menu-toggle span a{
            text-decoration: none;
            color: white;
            font-size: 1.1rem;
        }
        
        
        nav ul {
            display: none; /* Hide the nav links by default for smaller screens */
            /* flex-direction: column;
            text-align: center;
            position: absolute;
            top: 70px; /* Adjust the top position to avoid overlapping with the header */
            left: 0;
            width: 100%;
            background-color: #333; 
    }
    
    nav ul.active {
        display: flex; /* Show the nav links when the menu is active */
    }
    
    nav ul li {
        margin: 10px 0;
    }
}
@media screen and (min-width: 840px){
    .hamburger, .menu-toggle{
        display: none;
    }
}

#welcome {
    background-color: #013078;
    color: white;
    padding: 20px 20px 150px 20px;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
}


#welcome aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}
.intro{
    padding: 60px;
}

.intro-button-div{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#welcome aside p{
    color: rgba(255, 255, 255, 0.666);
}

#welcome img{
    max-width: 100%;
    height: auto;
    width: auto;
}

#welcome h1 {
    font-size: max(30px,5vw);
}

#welcome button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: 0px solid white;
    text-decoration: none;
    box-shadow: none;
    margin-top: 20;
    outline: none;
}

#started{
    background-color: rgba(255, 255, 255, 0.36) !important;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    box-shadow: none;
    margin-top: 20;

    outline: none;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .preheader{
        display: none;
    }
    #welcome {
      flex-direction: column;
      padding: 0 0 100px 0;
    }

    .intro{
        padding: 20px;
    }

  }


#card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
    transform: translateY(-7rem);
}

.card {
    margin: 10px;
    background-color: #023783;
    color: white;
    padding: 70px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#about{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .about-content{
      flex-direction: column;
    }
  }

.line{
    width: 80px;
    height: 5px;
    background-color: #013078;
    margin: 0 0 20px 0;

}

#about h1{
    font-size: 3rem;
}

.about-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-header p{
    text-align: center;
    margin: 10px;
}

.about-content{
    display: flex;
}

.about-left{
    flex: 1;
    padding: 3vw;
}

.about-left img{
    max-width: 100%;
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 50px;
    /* scale: 0.8; */

}

.about-right{
    flex: 1;
    padding: 3vw;
}

.about-right ul{
    margin: 10px;
    list-style-type: none;
}

.about-right img{
    margin-top: 30px;
    max-width: 100%;
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 50px;
}


.stats{

}

.clients{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}



.clients img{
    width: 180px;
}

@media (max-width: 768px) {
    .clients{
      flex-direction: column;
    }
    .clients img{
        margin: 20px 0;
    }
  }

.numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.numbers-left{
    
}

@media (max-width: 768px) {
    .numbers-left img{
        width: 90vw;
    }
}
.numbers-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: c;    */
}

.numbers-right-item{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-bottom: #5e5d5d67 solid 2px;
}

.numbers-right-item h2{
    font-size: 2rem;
    margin: 0 10px;
    color: #013078;
}

.numbers-right-item p{
    margin: 0 6px;
}


.call-to-action-video{
    margin: 4rem 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 600px;
    border-radius: 30px;
}

.call-to-action-video .content{
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    width: 100%;
    height: 600px;
    padding: 0;
    background-color: black;
}

.call-to-action-video .content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    opacity: 0.6;
    z-index: 1;
}

.call-to-action-video .content-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: white;
}

.call-to-action-video .content-text h2{
    font-size: 3rem;
    margin-bottom: 20px;
}

.call-to-action-video .content-text p{
    padding: 5px;
    text-align: center;
}


.call-to-action-video .content-text button{
    margin-top: 50px;
    padding: 10px 30px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .call-to-action-video .content-text h2{
      font-size: 2rem;
    }
  }


.our-services{
    padding: 4rem 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

.our-services-title{
    font-size: 3rem;
}

.our-services .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
}

.our-services .content .title-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-services-card-container{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services-card{
    margin: 10px 0;
    background-color: white;
    width: max(250px,25vw);
    border-radius: 20px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    gap: 1rem;
}
.services-card .image-container{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: #f3f3f3;
}

.services-card .image-container i{
    height: 60px;
    width: 60px;
    padding: 40px 20px;
}


.card-title-container .services-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.services-card button{
    background-color: transparent;
    padding: 1rem 0rem;
    text-align: left;
    max-width: 200px;
    color: #013078;
    font-size: 18px;
    border: none;
    transition: all 0.3s ease;

}
.services-card button:hover{
    padding-left: 2rem;
}

#testimonials{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials-header p{
    text-align: center;
    margin: 10px;
}

.testimonials-title{
    font-size: 3rem;
    margin-bottom: 20px;
}

.testimonials-card-container{
    width: 100%;
    margin: 30px 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial-card{
    width: max(250px,25vw);
    background-color: white;
    border-radius: 20px;
    padding: 0.5rem 0.5rem;
    margin: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    /* give heavy shadow  */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.testimonial-card .image-container{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background: url(images/blog/comments-1.jpg) no-repeat center center;
    margin-right: 10px;
}

#testimonials .card-title-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-title-container .testimonial-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.contact-us{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 6rem 0;
}



#portfolio{
    padding: 4rem 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

#portfolio .title-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.portfolio-nav button{
    background-color: transparent;
    padding: 1rem 0rem;
    text-align: left;
    max-width: 200px;
    font-size: 1rem;
    font-weight: 600;
    color: #4a4a4a;
    border: none;
    transition: all 0.3s ease;
}


.portfolio-nav .active, .portfolio-nav button:hover{
    color: #013078;
}

.portfolio-title{
    font-size: 3rem;
}

.portfolio .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
}

.portfolio .content .title-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-card-container{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-card{
    margin: 10px 10px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;

}

.portfolio-card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}



.portfolio-card .img-container{
    width: 100%;
    height: 250px;
    padding: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: url('images/portfolio-img/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio-card .caption{
    padding: 10px;
}


.Team{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 30px 0px 80px;
}
.Team h1{
    font-size: 44px;
}
.Team-sub-heading{
    color: #5f5f5f;
    padding-bottom: 30px;
}
.Team-content{
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}
.Team-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2.5rem;
}

.Team-card{
    display: flex;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.Team-card-job{
    color: #8e8e8e;
}
.Team-card-image{
    width: 270px; 
    height: 270px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 50px;
}
.Team-card-image-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}
.card-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; 
}
.team-social{
    display: flex;
    margin-top: 20px;
    justify-content: start;
    gap: 2.5rem;
    align-items: center;
}
.team-social-icon{
    padding: 8px;
    border: 1px solid #8e8e8e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.Pricing-Plan{
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 10px 0;
}
.Pricing-Plan h1{
    font-size: 44px;
    padding-bottom: 30px;
}
.Pricing-Plan-sub-heading{
    color: #5f5f5f;
    padding-bottom: 30px;
}
.Pricing-Plan-content{
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
}
.Pricing-Plan-box{
    display: flex;
    padding-top: 120px;
}
.Pricing-Plan-card {
    height: 650px;
    width: 400px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    padding: 45px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Pricing-Plan-card-img1{
    background: url("images/pricing-img/1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}
.Pricing-Plan-card-img2{
    background: url("images/pricing-img/2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}
.Pricing-Plan-card-img3{
    background: url("images/pricing-img/3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}
.Pricing-Plan-card .top-Pricing-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}
.Pricing-Plan-card .top-Pricing-card .l1{
    font-size: 22px;
    font-weight: 550;
    color: #555555;
}
.Pricing-Plan-card .top-Pricing-card .l3 {
    display: flex;
    align-items: end;
}
.Pricing-Plan-card .top-Pricing-card .l3 .num{
    font-size: 22px;
    font-weight: 700;
    color: #fb5c3e;
    display: flex;
    align-items: start;
}
.Pricing-Plan-card .top-Pricing-card .l3 .num .dollar{
    margin-top: 4px;
    padding: 2px;
}
.Pricing-Plan-card .top-Pricing-card .l3 .num .money{
    font-size: 42px;
    font-weight: 700;
    color: #fb5c3e;
}
.Pricing-Plan-card .top-Pricing-card .l3 .month {
    font-size: 1.2rem;
    color: #8e8e8e;
    margin-bottom: 4px;
    padding: 4px;
}

.Pricing-Plan-card .bottom-Pricing-plan{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 40px;
}
.Pricing-Plan-card .bottom-Pricing-plan .line-1{
    display: flex;
    align-items: center;
    color: #6a6a6a;
    font-weight: 370;
    font-size: 1.1rem;
}
.Pricing-Plan-card .bottom-Pricing-plan .line-cross{
    display: flex;
    align-items: center;
    color: #b7b7b7;
    font-weight: 370;
    font-size: 1.1rem;
}
.Pricing-Plan-card .bottom-button{
    padding: 10px 44px;
    margin: 2rem 0;
    border-radius: 40px;
    border: 0.5px solid #3660a1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Pricing-Plan-card .bottom-button span {
    font-size: 18px;
    font-weight: 500;
    color: #013783;
}
.Pricing-Plan-box .middle-card{
    transform: scale(1.2); 
    border: 3px solid #3660a1;
    margin: 0 30px;
}

@media (max-width: 1300px) {
    .Pricing-Plan-box .middle-card{
        transform: scale(1) !important; 
        margin: 20px 0;
    }
    .Pricing-Plan-box{
        flex-direction: column;
        margin: 20px 0;
        padding: 20px;
    }
}

@media (max-width: 450px) {
    .Pricing-Plan-box .middle-card{
        transform: scale(1) !important; 
        margin: 20px 0;
    }
    .Pricing-Plan-card{
        width: 300px;
        height: 800px;
    }
}



.contact-us .content{
    overflow: hidden;
    border-radius: 30px;
    max-width: 100vw;
    flex-direction: column;
    padding: 0;
}

.contact-us .content .title-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-us .content .title-div h1{
    font-size: 3rem;
}

.form-div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    display: flex;
    border-radius: 30px;
    background-color: white;
    width: fit-content;
    gap: 4rem;
}

.contact-us .content .title-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3rem;
}

.contact-icon-container{
    color: white;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    background-color: #013078;
}

.contact-item{
display: flex;
align-items: center;
gap: 1rem;
}

.contact-item .icon{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: red;
    opacity: 0.3;
}

.contact-us-item-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.title-contact{
    font-size: 1.5rem;
    font-weight: 600;
}

.form-div{
    margin: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #013078;
}

input{
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 0;
    border : 1px solid rgba(0, 0, 0, 0.493);
}

form{
    padding: 4rem 2rem;
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

form div{
    width: 100%;
    display: flex;
}

.opacity-8{
    opacity: 0.8;
}
textarea{
    padding: 1rem 2rem;
    /* margin: 0 5px; */
}

form div{
    display: flex;
    align-items: center;
    justify-content: center;
}


input[type="submit"]{
    background-color: #013078;
    width: fit-content;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}
#name{
    color: black;
    margin: 0 5px 0 0;
}

input::placeholder {
    color: #999; /* Replace with your desired color */
}

@media (max-width: 1000px){
    .contact-us .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-div{
        flex-direction: column;
        width: 90% !important;
    }
    .contact-icon-container{
        width: 100%;
    }

    form{
        padding-top: 0%;
    }
    
}